

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    width: 250px;
    height: 250px;
    background-color: aqua;
    overflow: hidden;
    border-radius: 20px;

}

.bar {
    width: 200px;
    height: 20px;
    background-color: red;
    position: absolute;
    left: 10%;
    border-radius: 10px;

}

.bar:nth-child(1) {
    top: 20%;

}

.bar:nth-child(2) {
    top: 45%;
  
    
}

.bar:nth-child(3) {
    top: 70%;
    
}

.check {
    width: 250px;
    height: 250px;
    opacity: 0;
    z-index: 1000;

}

