

.thumb {
    width: 950px;
    height: 650px;
    overflow: hidden;
    position: relative;
    top: 20;
    left: 50%;
    transform: translate(-50%);
}

.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.bar {
    width: 75px;
    height: 15px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.bar:hover {
    background-color: white;
}

.bar:active {
    background-color: rgba(255, 255, 255, 0.318);
}

.inputThumb {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~  .s1 {
    margin-left: 0%;
}

#slide2:checked ~  .s1 {
    margin-left: -20%;
}

#slide3:checked ~  .s1 {
    margin-left: -40%;
}

#slide4:checked ~  .s1 {
    margin-left: -60%;
}

#slide5:checked ~  .s1 {
    margin-left: -80%;
}

.comboFood {
    background-image: url(https://as2.ftcdn.net/v2/jpg/04/43/37/07/1000_F_443370711_sqHRnSIQovW6uyQ5ZwDpd4kjCG8Q6swm.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bucha {
    width: 100vw;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}

.sec-pizza {
    width: 100vw;
    height: 500px;
    background-color: aqua;
}



@media screen and (max-width: 480px) {
    .thumb {
        width: 100vw;
        height: 350px;
        overflow: hidden;
        position: relative;
        top: 20;
        left: 50%;
        transform: translate(-50%);
    }

    .bar {
        width: 55px;
        height: 15px;
        margin: 10px;
        
    }

    #menu-list {
        width: 500px;
        height: 500px;
        background-color: pink;
    }
}


