:root {
   --cor01: #FFF8F0;
   --cor02: #660000;
   --cor03: #0F0326;
   --cor04: #E94F37;
   --cor05: #FF9000;
}

 @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Roboto&display=swap');


.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--cor01);
   

}

.icon {
    width: 100px;
    font-family: 'Overpass', sans-serif;
    font-size: larger;
    background: linear-gradient(to right, green, white, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);
   
}

.link {
    text-decoration: none;
    color: var(--cor02);
}

.nav {
    max-width: 1200px;
    width: 8100vw;
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor01);
    font-family: 'Overpass', sans-serif;
    
}

.subMenu:hover {
    color: var(--cor04);
    transition: 0.5s;
}

.check {
    opacity: 0;
}

.lateral-menu-li {
    list-style: none;
}

@media only screen and (max-width: 480px){
    body {
        background-color: #FF9000;
    }

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--cor01);
     
     }

    .icon {
        margin-left: 120%;
    }

    .nav {
        display: none;
    }

   .menu-mobile {
        width: 50px;
        height: 50px;
        background-color: var(--cor05);
        
   }

   .menu-bar {
        width: 45px;
        height: 3px;
        background-color: var(--cor01);
        position: absolute;
        top: 10px;
        left: 6%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        border-radius: 10px;
      

   }

   .menu-bar:nth-child(1) {
    position: absolute;
    top: 7px;
    left: 6%;
    transform: translate(-50%, -50%);
 

}

   .menu-bar:nth-child(2) {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
   }

   .menu-bar:nth-child(3) {
        position: absolute;
        top:  40px;
        left: 25px;
        transform: translate(-50%, -50%);
    
   }

    .check {
        width: 50px;
        height: 50px;
        z-index: 2000;
        opacity: 0%;
        position: absolute;
       

    }

    .menu-mobile .check:checked ~ .menu-bar {
        transform: rotate(45deg);
       
        scale: 120%;
       
        top: 25px;
        left: 2px;
       
    }

    .menu-mobile .check:checked ~ .menu-bar:nth-child(2) {
        opacity: 0;
       
    }

    .menu-mobile .check:checked ~ .menu-bar:nth-child(3) {
        transform: rotate(-45deg);
       
        scale: 120%;
        top: 25px;
        left: 2px;
        position: absolute;
       
       
    }

    .lateral-menu {
        width: 200px;
        height: 350px;
        background-color: var(--cor01);
        position: absolute;
        top: 50px;
        left: -300px;
        z-index: 10;
        transition: .5s;
        opacity: 0;
    }

    .check:checked ~ .lateral-menu {
        left: 0;
        opacity: 100;
        border-radius: 0  0 10px 0;
    }

    .lateral-menu-li {
        color: var(--cor02);
        font-family: 'Overpass', sans-serif;
        list-style: none;
        display: flex;
        justify-content: center;
        width: 200px;
        height: 20%; 
        line-height: 450%;   

    }

    #lateral-menu-li0::before {
        content: 'Inicio';
       
    }

    #lateral-menu-li1::before {
        content: 'Menu';
       
    }

    #lateral-menu-li2::before {
        content: 'Restaurants';
    }

    #lateral-menu-li3::before {
        content: 'Delivery';
    }

    #lateral-menu-li4::before {
        content: 'App Lorenzzo`s';

    }

    .lateral-menu-li:hover {
        background-color: var(--cor02);
        color: var(--cor01);
        transition: .5s;
       
    }

    
   

    

    
    
}

