:root {
   --cor01: #FFF8F0;
   --cor02: #660000;
   --cor03: #0F0326;
   --cor04: #E94F37;
   --cor05: #FF9000;
}

 @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Roboto&display=swap');


.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--cor01);
   

}

.icon {
    width: 100px;
    font-family: 'Overpass', sans-serif;
    font-size: larger;
    background: linear-gradient(to right, green, white, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);
   
}

.link {
    text-decoration: none;
    color: var(--cor02);
}

.nav {
    width: 800px;
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor01);
    font-family: 'Overpass', sans-serif;
    
}

.subMenu:hover {
    color: var(--cor04);
    transition: 0.5s;
}

@media only screen and (max-width: 480px){
    body {
        background-color: #FF9000;
    }

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--cor01);
     
     }

    .icon {
        margin-left: 100%;
    }

    #microMenu {
        width: 50px;
        height: 50px;
        background-color: #FF9000;
       

    }

    .bar01 {
        width: 45px;
        height: 3px;
        background-color: #FFF8F0;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        top: 20;
        left: 50%;
        transform: translate(-50%);
        
    }


    
    .bar01:hover:nth-child(1) {
      transform: rotate(-45%)
      translate(-5px, 5px);
      transition: all 1s;
       

    }

    .bar01:nth-child(2) {
        display: none;
    }

    .bar01:hover:nth-child(3) {
        transform: rotate(45%) 
        translate(5px, -5px);

    }


    .nav {
        display: none;
        
    }

    
}

